@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/*
  修改了原来的 base 层, 避免和页面产生冲突
  @import "tailwindcss/preflight.css" layer(base);
*/
@import "./base.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --color-background: #f1f1f1;
    --color-border: #999999;
    --color-content: white;
    --color-text: #333333;
}

@layer utility {
    .corn-center {
        @apply top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
    }
}
